{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tema in temas %}
            <tr>
                <td><a href="{{ path('tema_show', { 'slug': tema.slug }) }}">{{ tema.slug }}</a></td>
                <td>{{ tema.titulo }}</td>
                <td>{{ tema.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tema_show', { 'slug': tema.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tema_edit', { 'id': tema.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tema_new') }}">Create a new tema</a>
        </li>
    </ul>
{% endblock %}
