{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h2 class="mt-5">{{ tema.titulo}}</h2>
        <p class="lead">{{ tema.descripcion }}</p>

        <a href="{{ path('homepage') }}"><i class="fas fa-arrow-left"></i> Regresar al inicio</a><br><br>
{#        <a class="btn btn-primary" href="{{ path('comentario_new', { 'slug': tema.slug }) }}" role="button"><i class="fas fa-plus"></i> Nuevo comentario</a>#}

        <div class="row mb-5">
            <div class="col-12 col-lg-8">
            {% for comentario in tema.comentarios %}

                <div class="card mt-3">
                    <div class="card-body">
                        {{ comentario.created|date }} <br><br>
                        {{ comentario.opinion| raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
